.App {
    text-align: center;
}


.App-body {
    background-color: #e4f9f5;
    background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");
    font-family: 'Roboto', sans-serif;
}

.App-header {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #11999e;
}

.App-footer {
    color: grey;
    font-weight: lighter;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto
}

.balance {
    color: #41aea9;
    width: auto;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 10px;
    align-items: center;
    display: flex;

}

.heading {
    color: #40514e;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
}

.totalincome {
    color: '#0d7377';
    width: 200px;
    float: left;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.totalexpense {
    color: '#0d7377';
    width: 200px;
    float: left;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.item {
    justify-content: center;
    align-items: center;
    width: auto;
    justify-items: center;
    display: flex;
    flex-direction: row;
    text-align: justify;
    height: 70px;
}

.description {
    width: auto;
    float: center;
    flex-direction: row;
    justify-content: center;
    /* margin-right: 200px; */
    position: relative;
    left: auto;
    flex-direction: row;
    text-align: left;
    padding-top: 10px;
    height: auto;
}

.heading h2.credit {
    color: red
}

.heading h2.debit {
    color: green
}

.item li {
    box-shadow: var(--box-shadow);
    width: 300px;
    color: #333;
    display: flex;
    text-align: center;
    position: relative;
    font-size: large;
    height: 30px
}

.amount {
    width: 80px;
    flex-direction: row;
    position: relative;
    text-align: right;
    padding-top: 10px;
    height: auto;
    position: absolute;
    left: 200px;
}


.btn {
    width: auto;
    float: center;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    flex-direction: row;
    text-align: right;
    height: 50px;
}

.form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 400px;
}

.item li.plus:hover {
    background-color: #acd8ac;
    border-bottom-style: solid;
    border-bottom-color: green;
}

.item li.minus:hover {
    border-bottom-style: solid;
    border-bottom-color: red;
    background-color: rgb(247, 191, 181);
}


.addTrans {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex
}
