body {
    background-color: #e4f9f5;
    background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");

    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

